*{
    margin: 0;
    padding: 0;
}

h1{
     font-size:55px;
     margin-top: 2vmin;
}

body{
    background-color: #548687;
    text-align: center;
    
}

.container{
    height: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game{
    height: 60vmin;
    width:60vmin ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;

}

.box{
    height: 19vmin;
    width: 19vmin;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 10vmin;
    color: brown;
    font-style: initial;
    background-color: bisque;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: bisque;
    border-radius: 7px;
    border: none;
    margin-bottom: 5vmin;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: bisque;
    border-radius: 7px;
    border: none;
    margin-top: 3vmin;
}

#winner{
    color: aliceblue;
    font-size: 8vmin;
    margin-top: 5vmin;
}

.msg{
    height: 25vmin;
}

.hide{
    display: none;
}

.colors{
    color: midnightblue;
}

.game{
    color: black;
}